{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            
        </div>
    </div>
{% endblock %}

{% block content %}
    <h3 class="text-center my-3">Shopping Bag</h3>
    {% if bag_items %}

    <div class="container px-1 d-block d-lg-none">
        {% for item in bag_items %}
        <div class="row">
            <div class="col"><img src="{{ item.product.image.url }}" height="150" width="auto" alt="{{ item.product.name }}"></div>
            <div class="col">
                <p><strong>{{ item.product.name }}</strong></p>
                <p>${{ item.product.price }}</p>
                <div class="input-group qty_input input-group-sm flex-nowrap">
                    <button class="btn btn-outline-dark" type="button"><i class="fas fa-minus fa-sm"></i></button>
                    <input class="form-control qty_input text-center" type="number" name="quantity" value="{{ item.quantity }}" min="1"
                        max="99" data-item_id="{{ item.item_id }}">
                    <button class="btn btn-outline-dark d-inline" type="button"><i class="fas fa-plus fa-sm"></i></button>
                </div>
                <p>Subtotal: ${{ item.product.price | calc_subtotal:item.quantity }}</p>
            </div>
        </div>
        <hr>
        {% endfor %}
        <div class="float-end me-1">
            <p>Total: ${{ total|floatformat:2 }}</p>
            <p>Delivery: 1000000</p>
            <p>Grand Total: 10000000</p>
        </div>
    </div>

    <div class="container px-3 d-none d-lg-block">
    <table class="table table-sm px-4">
    <div class="table-responsive">
        <table class="table align-middle text-center">
            <thead class="table-danger">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Product Info</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                {% for item in bag_items %}
                <tr>
                    <td class="bag-image text-center"><img src="{{ item.product.image.url }}" height="150" width="auto" alt="{{ item.product.name }}"></td>
                    <td class="text-start"><small>{{ item.product.name }}</small></td>
                    <td> ${{ item.product.price }}</td>
                    <td>
                        <div class="input-group qty_input input-group-sm flex-nowrap">
                            <button class="btn btn-outline-dark" type="button"><i class="fas fa-minus fa-sm"></i></button>
                            <input class="form-control qty_input text-center" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                data-item_id="{{ item.item_id }}">
                            <button class="btn btn-outline-dark d-inline" type="button"><i class="fas fa-plus fa-sm"></i></button>
                        </div>
                    </td>
                    <td>${{ item.product.price | calc_subtotal:item.quantity }}</td>
                    <td><i class="fas fa-times"></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
         <div class="float-end me-5">
            <p>Total: ${{ total|floatformat:2 }}</p>
            <p>Delivery: </p>
            <p>Grand Total:</p>
        </div>  
    </div>
</table>
                 
</div>
                   
    {% else %}
        <p>Your bag is empty</p>
            <a href="{% url 'products' %}" class="btn btn-outline-dark">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
                
            </span>
            <span class="my-auto">
                Continue Shopping
            </span>
            
        </a>

        
    {% endif %}

    
{% endblock %}