{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container home-page m-0 p-0">
        <img class="background image-fluid" src="{{MEDIA_URL}}home-page-background.png" alt="">
        <div class="home-page-heading">
            <h2>Your Home Accessories</h2>
            <h3>And More</h3>
        </div>
        <div class="shop-now-btn"><button href="" class="btn btn-dark">Shop Now</button></div>
        
    </div>
    
{% endblock %}