html {
    height: 100%;
}

nav {
    background-color:#F2C9C9;
}
.background {
   background-size: cover;
   width: 100vw;
   height: auto;
}

.nav-link {
    color: #000 !important;
}

.home-page {
    position: relative;
    text-align: left;
    color: black;
}

.home-page-heading {
    position: absolute;
    top: 30%;
    bottom: 70%;
    left: 20%;
}

.shop-now-btn {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 20%;
    
}

