{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block favicon %}
        <link rel="icon" href="{% static 'favicon.png' %}">
    {% endblock %}

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!--  Stripe  -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"
            integrity="sha512-UwcC/iaz5ziHX7V6LjSKaXgCuRRqbTp1QHpbOJ4l1nw2/boCfZ2KlFIqBUA/uRVF0onbREnY9do8rM/uT/ilqw=="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Vase {% block extra_title %}{% endblock %}</title>
</head>

<body>
    
    <div id="page-container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand d-none d-md-none d-lg-block d-xxl-block" href="#">
                        <img src="{{MEDIA_URL}}logo.png" alt="Vase" width="100" height="100">
                    </a>
                    <div class="d-lg-none">
                        <form method="GET" action="{% url 'products' %}" class="d-flex justify-content-end">
                            <input class="form-control-sm" type="text" name="q" placeholder="Search" aria-label="Search">
                            <button class="btn btn-sm btn-outline-success form-control" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>
                    
                    <div class="d-lg-none">
                        <a href="#">
                            <i class="fas fa-shopping-bag"></i>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="container-fluid">
                            <!-- Main Menu -->
                            <ul class="navbar-nav me-auto justify-content-end mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Product Management</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
                                </li>
                                <li class="nav-item ms-5">
                                    <a href="{% url 'view_bag' %}" class="">
                                        <div class="text-center">
                                            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                        </div>
                                        
                                    </a>
                                </li>
                            </ul>
                            <!-- Products Menu-->
                            <ul class="navbar-nav justify-content-end mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'products' %}?category=candles">Candles</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'products' %}?category=home_fragrance">Home
                                        Fragrance</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'products' %}?category=essential_oils">Essential
                                        Oils</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'products' %}?sort=date_added&direction=desc">New
                                        In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'products' %}">All
                                        Products</a>
                                </li>
                                <li class="nav-item d-none d-lg-inline ms-5">
                                    <form method="GET" action="{% url 'products' %}" class="d-flex justify-content-end">
                                        <input class="form-control-sm" type="text" name="q" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-sm btn-outline-success form-control" type="submit">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

        
        <div id="content-wrapper">
            {% block page_header %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>

        <footer>
            <div class="container-fluid">
                <div class="row text-center fs-5">
                    <p>Join our mailing list</p>
                </div>
                <form class="row g-3 justify-content-center">
                    <div class="col-auto">
                        <label for="staticEmail2" class="visually-hidden">Email</label>
                        <input type="text" readonly class="form-control" id="staticEmail2"
                            value="Enter your email here">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Subscribe Now</button>
                    </div>
                </form>
                <div class="row text-dark">
                    <div class="col">
                        C<i class="far fa-copyright"></i>PYRIGHT JUSTINA
                    </div>
                    <div class="col text-end me-5">
                        <a href="https://en-gb.facebook.com/"><i class="fab fa-facebook text-dark fs-2 me-3"></i></a>
                        <a href="https://twitter.com/?lang=en-gb"><i class="fab fa-twitter text-dark fs-2 me-3"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram text-dark fs-2"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    {% block postloadjs %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.toast').toast('show');
        })
        
    </script>
    {% endblock %}

</body>

</html>