{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container mt-3 mb-5 text-center">
        <div class="row">
            <h2>Products</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
        <div class="container-fluid">
            <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-end">
                        <div class="w-50">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <div class="small text-end mb-3"><a href="{% url 'products' %}">Reset Sorting</a></div>
                            {% endif %}
                            <select id="sort-selector" class="form-select form-select-sm rounded-0 border">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="text-muted mt-3 text-center text-md-end">
                            {{ total_products|length }} Products{% if search_term %} found for <strong>{{ search_term }}</strong>{% endif %}
                        </p>
                    </div>
                </div>
            <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4">
                
                {% for product in products %}
                <div class="col text-center">
                    <div class="card h-100">
                        <a href="#">
                            <img src="{{product.image.url}}" class="card-img-top" alt="{{ product.name }}">
                        </a>
                        <div class="card-body">
                            <h7 class="card-title">{{ product.name }}</h7>
                            
                        </div>
                        <div class="card-footer">
                            <div class="d-flex">
                                <p class="p-2 text-muted"><small><i class="fas fa-star"></i>{{ product.rating }}</small></p>
                                <p class="p-2 ms-auto">${{ product.price }}</p>
                            </div>
                            <a href="#" class="btn btn-outline-dark align-self-end">Add To Bag</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <nav aria-label="...">
                <ul class="pagination justify-content-center my-5">
                    {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'products' %}?page={{products.previous_page_number}}" tabindex="-1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="{% url 'products' %}">{{i}}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'products' %}?page={{i}}">{{i}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'products' %}?page={{products.next_page_number}}" tabindex="-1" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    
     <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });



    </script>

{% endblock %}
